.container{
    width: 640px;
    height: 360px;
    position: relative;
}
video{
    width: 100%;
}
.controles{
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    display: none;
}
img{
    width: 40px;
    background-color: #FFFFFFDB;
    border-radius: 50%;
     
}


.mostrar-controles{
    display: block;
}